@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "VT323", serif;
}

#root {
  min-height: 100vh;
  width: 100%;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.common {
  -webkit-box-shadow:0px 0px 20px 5px rgba(255,255,255,0.2);
  -moz-box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.2);
  box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.2);
}

.uncommon {
  -webkit-box-shadow:0px 0px 20px 5px rgba(45,255,196,0.2);
  -moz-box-shadow: 0px 0px 20px 5px rgba(45,255,196,0.2);
  box-shadow: 0px 0px 20px 5px rgba(45,255,196,0.2);
}

.rare {
  -webkit-box-shadow:0px 0px 20px 5px rgba(235,227,138,0.4);
  -moz-box-shadow: 0px 0px 20px 5px rgba(235,227,138,0.4);
  box-shadow: 0px 0px 20px 5px rgba(235,227,138,0.4);
}

.epic {
  -webkit-box-shadow:0px 0px 20px 15px rgba(106,41,245,0.3);
  -moz-box-shadow: 0px 0px 20px 15px rgba(106,41,245,0.3);
  box-shadow: 0px 0px 20px 15px rgba(106,41,245,0.3);
}

.unique {
  -webkit-box-shadow:0px 0px 20px 5px rgba(135,62,5,0.7);
  -moz-box-shadow: 0px 0px 20px 5px rgba(135,62,5,0.7);
  box-shadow: 0px 0px 20px 5px rgba(135,62,5,0.7);
}